.jumbotron .dark-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #38a7bb;
  opacity: 0;
  filter: alpha(opacity=90);
}

.home-carousel .dark-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #38a7bb;
  opacity: 0.3;
  filter: alpha(opacity=90);
}

#footer {
  background: #6abd45;
  padding: 50px 0;
  color: #ffffff;
}

#footer ul a {
  color: #ffffff;
}

#copyright {
  background: #333;
  color: #ccc;
  padding: 50px 0;
  font-size: 12px;
  line-height: 28px;
}
#copyright p {
  margin: 0;
}

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}
