{{ if isset .Site.Params "features" }}
{{ if .Site.Params.features.enable }}
{{ if gt (len .Site.Data.features) 0 }}
<section class="bar background-white">
    <div class="container">
        <div class="col-md-12">
            <div class="heading text-center">
                <h2>{{ .Site.Params.features.title }}</h2>
            </div>
            <div class="row">
                <center>
                    <!-- Need better way of handling videos -->
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/gW084yAvoK0" frameborder="0" allowfullscreen></iframe>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/QBkH1g4DuKE" frameborder="0" allowfullscreen></iframe>
                    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/ZHyIJ1UA5R8?t=13m48s" frameborder="0" allowfullscreen></iframe> -->
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/q7kVJRP6nOA" frameborder="0" allowfullscreen></iframe>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/RlVpGZU6wYg" frameborder="0" allowfullscreen></iframe>
                </center>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
